html {
  --backgroundColor: #f5f6fa;
  --backgroundDarkColor: #ffffff;
  --color: #161616;
  --colorBg: rgba(111, 17, 242, 0.1);
  --colorLight: #929292;
  --colorReverse: #ffffff;
  --colorLightReverse: #e7e7e7;
  --transparentColor: rgba(31, 31, 31, 0.9);
  --boxShadow: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
  --backgroundColor: #161616;
  --backgroundDarkColor: #242424;
  --color: #f1f1f1;
  --colorLight: #afafaf;
  --colorReverse: black;
  --colorLightReverse: #333333;
  --transparentColor: rgba(26, 26, 26, 0.9);
  --boxShadow: rgba(0, 0, 0, 0.459);
}

:root {
  --primary: #0ACF66;
  --primaryDark: #09bd5d;
  --secondary: #F7E5E9;
  --secondaryDark: #f5b916;
  --tertiary: #FF6161;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 50px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--backgroundColor);
  font-family: 'Roboto Slab', serif;
  // overflow-x: hidden;
}

.login__container__wrapper{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
width: 100%;
height: 100vh;
}

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80%;
  background-color: var(--backgroundDarkColor);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 1em;
  border-radius: 20px;
}

.login__container__img{
  width: 45%;
}

.login__container__img img{
  width: 100%;
}

.login__container__form {
  width: 55%;
  // max-width: 1000px;
  // background-color: var(--backgroundDarkColor);
  // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  // border-radius: 10px;
  padding: 0em 5em;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.login__container__content{

}

.login__container__logo{
  width: 10%;
  margin: .5em 0em;
}

.login__container__content__heading{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: .3em;
}

.login__container__content__text{
  font-size: 11px;
  margin-bottom: 1.5em;
  color: #989898;
}

.login__container__form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

.login__container__form__input__field__wrapper{
  display: flex;
  border: 1px solid var(--backgroundColor);
    background-color: var(--backgroundColor);
    outline: 1px solid transparent;
    border-radius: 50px;
    padding: 0em 1em;
    align-items: center;
}

.login__container__form__input__field__wrapper img{
  width: 20px;
  height: 20px;
}

.login__container__form__input__field {
  height: 43px;
  padding: 0em .5em;
  outline: none;
  border: none;
  background-color: var(--backgroundColor);
  width: 100%;
}

.login__container__form__input__field:hover {
  border-color: var(--primary);
}

.login__container__form__input__field:focus {
  border-color: var(--primary);
  outline-color: var(--primary);
}

.login__container__form__input__error {
  position: absolute;
  bottom: -13px;
  font-size: 12px;
  color: red;
}

.login__container__content__bottom__text{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.login__container__content__bottom__text:hover{
  cursor: pointer;
  text-decoration: underline;
}

.login__button__container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: .5em;
  cursor: pointer;
}

.login__button{
  border-radius: 50px;
  background: var(--primary);
  padding: .5em;
  width: 35%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__button__text{
  margin-left: .5em;
}

.login__button__icon{
  background-color: var(--backgroundDarkColor);
  color: var(--color);
  border-radius: 50px;
  padding: .3em;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em;
}

.container__main {
  width: calc(100% - 300px - 1.5em);
  height: 100%;
  position: relative;
}

.container__main__content {
  min-height: calc(100vh - 60px - 5.5em);
  overflow: auto;
}

.container__sidebar__drawer{
  background-color: var(--backgroundDarkColor);
  padding: 1.5em 0em;
  border-radius: 20px;
  width: 8%;
  max-height: calc(100vh - 4em);
  height: calc(100vh - 4em);
  max-width: 300px;
  margin-right: 2em;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__sidebar {
  background-color: var(--backgroundDarkColor);
  padding: 1.5em 0em;
  border-radius: 20px;
  width: 100%;
  max-height: calc(100vh - 4em);
  height: calc(100vh - 4em);
  max-width: 300px;
  margin-right: 2em;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.animate{
  opacity: 0;
    /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  
    animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  
    animation-duration: .5s;
    animation-delay: 0s
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container__sidebar__header {
  padding: 0em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__sidebar__button {
  display: none;
}

.container__sidebar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  color: var(--color);
}

.container__sidebar__logo__img {
  height: 45px;
  margin-left: 1em;
}

.container__sidebar__logo__name{
  font-size: 18px;
  font-weight: 700;
  margin-left: .5em;
}

.container__sidebar__logo__content {
  font-size: 25px;
  font-family: 'Lora', serif;
  font-weight: 600;
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: .5em;
}

.container__sidebar__content {
  margin-top: 2em;
  height: calc(100% - 45px - 2em);
  padding: 0em 1.5em;
  width: 100%;
  overflow-y: auto;
}

.container__sidebar__content .active {
  transition: 300ms ease-in-out;
  background-color: var(--primary);
  color: white;
}

.container__sidebar__content .active:hover {
  transition: 300ms ease-in-out;
  background-color: var(--primaryDark);
  color: white;
}

.container__sidebar__content .active * {
  fill: white !important;
}

.container__sidebar__entry {
  background-color: var(--backgroundColor);
  padding: 1em;
  border-radius: 20px;
  margin-bottom: 1em;
}

.container__sidebar__entry__label {
  font-size: 12px;
  margin-bottom: 1em;
  background-color: rgba(255, 59, 59, 0.1);
  width: fit-content;
  color: var(--color);
  padding: 0.1em 1em;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--color);
}

.container__sidebar__entry__content {
  display: flex;
  flex-direction: column;
  animation: container__sidebar__entry__content__animation 500ms both;
  transform-origin: top;
}

@keyframes container__sidebar__entry__content__animation {
  from {
    opacity: 0;
    transform: scaleY(0.9);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.container__sidebar__entry__content__entry {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  border-radius: 50px;
  color: var(--darkWhite);
  padding: 0em 1.3em;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 0.5em;
  background-color: var(--backgroundColor);
  color: black;
}

// .container__sidebar__entry__content__entry:hover {
//   background-color: var(--backgroundColor);
// }

.container__sidebar__entry__content__entry:last-child {
  margin-bottom: 0em;
}

.container__sidebar__entry__content__entry svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  fill: black;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 1000px;
  padding-right: 2em;
  padding-left: 9em;
}

.dashboard__container__top__bar{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.dashboard__container__top__bar svg{
  margin-right: .5em;
}

.dashboard__banner__contianer{
  display: flex;
  padding: 1em 2em;
  background-color: var(--secondary);
  width: 100%;
  border-radius: 20px;
  margin: 1em 0em;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.dashboard__banner__content h2{
  color: var(--tertiary);
}

.dashboard__banner__content{
  width: 80%;
  font-size: 12px;
}

.dashboard__banner__button__wrapper{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dashboard__banner__button__wrapper button{
  padding: .8em 2em;
  align-items: center;
  display: flex;
  border-radius: 20px;
  border: none;
  background: var(--primary);
  color: var(--colorReverse);
  justify-content: space-around;
  cursor: pointer;
}

.dashboard__filters__wrapper{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.dashboard__filters__container{
  display: flex;
  justify-content: space-between;
}

.dashboard__filter{
  margin: 0em .8em;
  font-size: 13px;
}

.dashboard__filter:hover{
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary);box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.dashboard__filter__checked{
  margin: 0em .8em;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary);box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.dashboard__analytics{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.dashboard__analytics__container{
  width: 23%;
  border-radius: 20px;
  background: var(--tertiary);
  padding: 1em;
  color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
}

.dashboard__analytics__container__top{
  font-size: 18px;
  font-weight: 500;
}

.dashboard__analytics__container__top__number {
  font-size: 18px;
  margin-bottom: .3em;
}

.dashboard__analytics__container__top:last-child{
  font-size: 13px;
}

.analytics__icon__wrapper{
  background-color: #FF9C98;
  padding: .4em .5em;
  border-radius: 10px;
  margin-right: .5em;
  height: fit-content;
}

.dashboard__analytics__container__bottom{
  display: flex;
  align-items: center;
  font-size: 12px;
  // justify-content: space-between;
}

.list__container{
  background: var(--backgroundDarkColor);
  border-radius: 20px;
  margin-top: 1em;
  padding: 1em;
}

.list__container__top{
  display: flex;
  justify-content: space-between;
}

.list__container__top__select * {
  font-size: 12px !important;
}

.list__container__top__select .css-1im77uy-control {
  border-radius: 50px;
  padding: 0em 0.5em;
  min-width: 150px;
  margin-right: 1em;
  background-color: var(--backgroundColor);
  border-color: transparent !important;
  height: 40px;
}

.container__main__content__listing__table {
  display: flex;
  flex-direction: column;
  // height: calc(100% - 40px - 2.5em);
  overflow: auto;
  // padding: 0em 1.5em;
  // padding-right: calc(1.5em - 5px);
  // position: relative;
  width: 100%;
}

.container__main__content__listing__table__header {
  display: flex;
  // background-color: var(--backgroundColor);
  width: fit-content;
  min-width: 100%;
  margin-bottom: 1em;
  border-radius: 50px;
  position: sticky;
  top: 0px;
  z-index: 99;
}

.container__main__content__listing__table__header__entry {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  font-size: 12px;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
  margin-right: 1em;
}

.container__main__content__listing__table__content {
  display: flex;
  flex-direction: column;
}

.container__main__content__listing__table__content__list {
  display: flex;
  text-decoration: none;
  color: var(--color);
  width: fit-content;
  min-width: 100%;
  font-size: 12px;
  margin-bottom: 0.5em;
  border-radius: 50px;
  padding: .5em 0em;
}

.container__main__content__listing__table__content__list__entry__hover:hover {
  background-color: var(--primary);
  color: white;
  border-radius: 50px;
}

.container__main__content__listing__table__content__list__entry__hover{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 0.3em 0em;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  margin-right: 1em;
}

.container__main__content__listing__table__content__list__entry {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 0.3em 0em;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  margin-right: 1em;
}

.graph__container{
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bar__graphr__container{
  background: var(--backgroundDarkColor);
  padding: 2em 1em;
  border-radius: 20px;
  width: 48%;
}

.bar__graphr__container__heading{
  font-weight: 600;
 
}

.bar__graphr__container__info{
  font-size: 12px;margin-bottom: 1em;
  color: #929292;
}

.pie__graphr__container{
  background: var(--backgroundDarkColor);
    padding: 2em 1em;
    border-radius: 20px;
    width: 48%;
}

.area__graphr__container{
  background: var(--backgroundDarkColor);
    padding: 2em 1em;
    border-radius: 20px;
    width: 100%;
    margin: 1em 0em;
}

.area__graphr__container__heading{
  font-weight: 600;
    margin-bottom: 1em;
    font-size: 26px;
    color: var(--primary);
}

.pie__graphr__container .recharts-surface{
  margin: 0em 8em !important;
}

.main__container{
    display: flex;
    flex-direction: column;
    width: 90%;
    // max-width: 1000px;
    padding-right: 2em;
}

.order__details__steps {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundDarkColor);
  padding: 2em;
  border-radius: 10px;
  margin: 1.5em 0em;
}

.order__details__steps__content {
  display: flex;
  // padding-bottom: 6em;
}

.order__details__steps__content__step {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  min-width: 120px;
}

.order__details__steps__content__step:last-child .order__details__steps__content__step__line {
  display: none;
}

.order__details__steps__content__step__line {
  width: 100%;
  top: 19px;
  z-index: -1;
  background-color: var(--backgroundColor);
  left: 50%;
  width: 100%;
  height: 8px;
  position: absolute;
}

.order__details__steps__content__step__line__active {
  background-color: var(--primary);
}

.order__details__steps__content__step__icon {
  width: 50px;
  height: 50px;
  background-color: var(--backgroundColor);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.order__details__steps__content__step__icon__active {
  // background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.order__details__steps__content__step__label{
  width: 120px;
  text-align: center;
  font-size: 13px;
  margin-top: .5em;
}

.order__details__steps__content__step__label__active{
  color: var(--primary);
}

.form__container{
  background: var(--backgroundDarkColor);
  padding: 1em;
  border-radius: 20px;
}

.form__wrapper__heading{
  font-size: 18px;
  font-weight: 600;
}

.form__wrapper__content{
  font-size: 12px;
  color: #B1B1B1;
}

.form__top{
  margin: 1em 0em;
  display: flex;
  background: #fcfcff;
  border-radius: 50px;
  padding: .5em 1em;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.form__top input{
  background: #ededfa;
  padding: 1em;
  width: 20%;
  border: none;
  outline: none;
  border-radius: 20px;
  // text-align: center;
  font-size: 12px;
}

.form__bottom__reporting__info{
  margin: 0em 0em;
    display: flex;
    background: #fcfcff;
    border-radius: 50px;
    padding: .5em 1em;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}

.form__bottom__reporting__info__dob{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__bottom__reporting__info input{
  background: #ededfa;
  padding: 1em;
  width: 30%;
  border: none;
  outline: none;
  border-radius: 20px;
  // text-align: center;
  font-size: 12px;
}

.form__bottom{
  margin: 0em 0em;
  display: flex;
  background: #fcfcff;
  border-radius: 50px;
  padding: .5em 1em;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.form__bottom__heading{
  font-weight: 600;
}

.form__bottom input {
  background: #ededfa;
  padding: 1em;
  width: 90%;
  border: none;
  outline: none;
  border-radius: 20px;
  // text-align: center;
  font-size: 12px;
}

.form__bottom__content{
  font-size: 13px;
  width: 15%;
}

.form__bottom__last__bar{
  margin: 0em 0em;
    display: flex;
    background: #fcfcff;
    border-radius: 50px;
    padding: .5em 1em;
    font-weight: 500;
    align-items: center;
    // justify-content: space-between;
}

.form__bottom__last__bar input {
  background: #ededfa;
  padding: 1em;
  width: 33%;
  border: none;
  outline: none;
  border-radius: 20px;
  // text-align: center;
  font-size: 12px;
}

.form__bottom__content__gender{
  background: #ededfa;
    padding: .5em 2.5em;
    border-radius: 20px;
    cursor: pointer;
    margin-right: .5em;
}

.form__bottom__content__gender__active{
  background: var(--primary);
  color: white;
  padding: .5em 2.5em;
    border-radius: 20px;
    cursor: pointer;
    margin-right: .5em;
}

.form__bottom__gender__container{
  margin: 0em 0em;
  display: flex;
  background: #fcfcff;
  border-radius: 50px;
  padding: .5em 1em;
  font-weight: 500;
  align-items: center;
  width: 100%;
  // justify-content: space-between;
}

.form__buttons__container{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  padding: 1em;
}

.prev__button{
  border-radius: 50px;
  padding: .5em 1em;
  border: 1px solid #ACACAC;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-right: 1em;
  cursor: pointer;
}

.next__button{
  border-radius: 50px;
    padding: .5em 1em;
    background: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.list__filters__wrapper{
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list__filters__wrapper__data {
  width: 50%;
}

.filter__button{
  // background: #e7e7e7;
  // border-radius: 10px;
  // padding: .3em;
  cursor: pointer;
}

.filter__button:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list__filters__input{
  border-radius: 50px;
  border: none;
  padding: .5em 1em;
  width: 15%;
  outline: none;
  padding-top: .8em;
  color: #929292;
}

.list__filters__input__empty{
  border-radius: 50px;
    border: none;
    padding: .5em 1em;
    // display: flex;
    width: 15%;
    outline: none;
    padding-top: .8em;
}

.list__filters__input__empty:before {
  content: 'Start Date';
  width: 100px;
  background: var(--backgroundDarkColor);
  color: #929292;
    position: absolute;
    height: 20px;
    border: none;
    display: flex;
}

.list__filters__input__end__empty {
  border-radius: 50px;
  border: none;
  padding: .5em 1em;
  width: 15%;
  padding-top: .8em;
  outline: none;
}

.list__filters__input__end__empty:before {
  content: 'End Date';
  width: 100px;
  background: var(--backgroundDarkColor);
  color: #929292;
  position: absolute;
  height: 20px;
  border: none;
  display: flex;
  align-items: center;
}

.list__filter__button{
  padding: .5em 2em;
  border-radius: 50px;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
}

.list__filter__button__reset{
  padding: .5em 2em;
    border-radius: 50px;
    background-color: var(--colorLight);
    color: white;
    border: none;
    cursor: pointer;
}

.main__container__top__bar{
  background: var(--backgroundDarkColor);
  border-radius: 20px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details__print{
  padding: .8em 2.5em;
  color: white;
  background: var(--primary);
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.details__header{
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.details__container{
  background: var(--backgroundDarkColor);
  border-radius: 20px;
  padding: 1em;
  margin: 1em 0em;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

.details__container__section{
  width: 48%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 1em 1.5em;
  border-radius: 20px;
  margin-bottom: 1em;
}

.details__container__heading{
  font-weight: 600;
  font-size: 18px;
  color: #0ACF66;
  margin: 1em 0em;
}

.details__container__content__wrapper{
  display: flex;
  margin-top: 1em;
  // margin-left: .5em;
  width: 100%;
}

.details__container__content__wrapper__heading{
  width: 35%;
  font-size: 14px;
  font-weight: 600;
}

.details__container__content__wrapper__info{
  font-size: 13px;
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

.radio {
  margin: 0.5rem;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    +.radio-label {
      &:before {
        content: '';
        background: #f4f4f4;
        border-radius: 100%;
        border: 1px solid var(--primary);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    &:checked {
      +.radio-label {
        &:before {
          background-color: #f4f4f4;
          box-shadow: inset 0 0 0 4px var(--primary);
        }
      }
    }

    &:focus {
      +.radio-label {
        &:before {
          outline: none;
          border-color: #f4f4f4;
        }
      }
    }

    &:disabled {
      +.radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px var(--colorLight);
          border-color: var(--colorLight);
          background: var(--colorLight);
        }
      }
    }

    +.radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.container__main__content__details__main__input__field__wrapper__image {
  width: 150px;
  height: 150px;
  background-color: var(--backgroundColor);
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{position: relative;
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.container__main__content__details__main__input__field__wrapper__image__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.container__main__content__details__main__input__field__wrapper__image__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container__main__content__details__main__input__field__wrapper__image__content__img {
  max-width: 100%;
  max-height: 100%;
}

.certificate__wrapper{
  display: flex;
  // justify-content: space-around;
  padding: 0em 4em;
}

.certificate__wrapper__container{
  margin-top: 3em;
  margin-right: 6em;
}

.certificate__wrapper__container__content{
  margin-bottom: .5em;
  font-weight: 600;
}

.popup{
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.popup__overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: var(--transparentColor);
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.popup__overlay__card{
    height: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    width: calc(100% - 2em);
    max-width: 500px;
    padding: 2em;
    background-color: var(--backgroundDarkColor);
    border-radius: 8px;
    position: relative;
}

.popup__overlay__card__close{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -1em;
  right: -1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: var(--primary);
}

.popup__overlay__card__heading{
    font-size: 1.5em;
    font-weight: 600;
    // color: var(--primary);
    margin: 0px;
    padding: 0px;
    // text-align: center;
}

.alert__popup__container{
  height: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  max-width: 600px;
  position: relative;
  justify-content: center;
}

.alert__background__dot{
width: 250px;
height: 250px;
background: var(--tertiary);
border-radius: 200px;
}

.alert__popup__card{
  height: fit-content;
  max-height: fit-content;
  display: flex;
  width: calc(100% - 2em);
  max-width: 500px;
  padding: 2em;
  background-color: var(--backgroundDarkColor);
  border-radius: 8px;
  position: absolute;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  margin-left: 2em;
  align-items: center;
}

.alert__popup__logo{
  color: white;
  background-color: var(--tertiary);
  border-radius: 100px;
  padding: 1em;
}

.alert__popup__content{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  width: 65%;
}

.alert__popup__content__title{
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}

.alert__popup__content__info{
  font-size: 14px;
  margin: 1em 0em;
  text-align: center;
}

.alert__popup__content__button__wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.alert__popup__content__button{
  border: none;
  padding: .5em 3.5em;
  background: var(--primary);
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

.alert__popup__content__button:hover{
  background: var(--primaryDark);
}

.list__container__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2em;
}

.list__container__pagination .pagination,
.scroll__animate .pagination {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.list__container__pagination .pagination li,
.scroll__animate .pagination li {
  width: fit-content;
  height: fit-content;
  background-color: transparent !important;
}

.list__container__pagination .pagination li a,
.scroll__animate .pagination li a {
  width: 35px;
  height: 35px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #303043;
}

.list__container__pagination .pagination .active a,
.scroll__animate .pagination .active a {
  background: var(--primary);
  color: #ffffff;
}

.list__container__pagination .pagination .disabled a,
.scroll__animate .pagination .disabled a {
  background: #f6f6f6;
  color: #cbcbda;
}

.list__container__pagination li,
.scroll__animate li {
  list-style: none;
}

.details__container__header{
  display: flex;
  align-items: center;
}

.details__container__header img{
  width: 5%;
}

.details__container__header__title{
  font-size: 18px;
  font-weight: 600;
  margin-left: .5em;
}

.details__Info__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details__Info__wrapper__left{
  width: 48%;
}

.details__Info__wrapper__section{
  // width: 48%;
}

.details__Info__wrapper__section__title{
  font-weight: 600;
  margin-top: 2em;
}

.details__Info__wrapper__section__title__border{
  border-bottom: 1px solid #929292;
  width: 100%;
  margin-top: .5em;
  padding: 0em 1em;
  margin-bottom: 1em;
}

.details__Info__wrapper__section__information{
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.details__Info__wrapper__section__information__title{
  width: 30%;
  font-size: 14px;
}

.details__Info__wrapper__section__information__content__wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.details__Info__wrapper__section__information__content{
  width: 15px;
  height: 15px;
  text-align: center;
  border: 1px solid #989898;
  font-size: 12px;
  margin-bottom: .3em;
}

.popup__container{
  position: absolute;
  z-index: 99999;
  background: #333333;
  overflow: hidden;
}